<div class="flex">
  <div class="flex w-3/5 bg-white rounded shadow-2xl p-4" style="min-height: 290px;">
    <div class="w-full mt-6 p-6">
      <h2 class="text-gray-800 text-5xl">We're sorry</h2>
      <h3 class="text-gray-800 text-3xl">A vehicle couldn't be found</h3>
    </div>
  </div>
</div>
